body {
    height: 100%;
    width: 100%;
    position: absolute;
    box-sizing: border-box;
    top: 0px;
    left: 0px;
    margin: 0px !important;
}

#react-root, .app-canvas {
    height: 100%;
    width: 100%;
    position: relative;
    top: 0px;
    left: 0px;
}